@font-face {
  font-family: "iconfont"; /* Project id 4080769 */
  src: url('iconfont.woff?t=1684895619272') format('woff'),
       url('iconfont.ttf?t=1684895619272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-shouqi1:before {
  content: "\e93f";
}

.i-zhankai1:before {
  content: "\e940";
}

.i-cunchushebei:before {
  content: "\ea5f";
}

.i-wenjianjia:before {
  content: "\e64b";
}

.i-jiqun:before {
  content: "\e610";
}

.i-bg-win-copy:before {
  content: "\ec62";
}

.i-search:before {
  content: "\e65f";
}

.i-quanbushouqi:before {
  content: "\e80d";
}

.i-quanbuzhankai:before {
  content: "\e80e";
}

